.congener__massage{
    display: flex;
    flex-direction: column;
}
.massage__container{
 margin-top: 10px; 
 h3{
    font-size: 25px;
}
}
.gary{
    background-color: rgb(204, 172, 129);
    padding: 1rem 3rem;
    margin-left:-10rem;
    border-radius: 25px;
    line-height: 30px;
    P{
        color: white;
        font-size: 15px;
    }
   
}
.blue{
    background-color: aqua;
    margin-left:10rem;
   
}
@media(min-width:1024px){
    .gary{
        margin-left:-20rem;
       
       
    } 
    .blue{
        margin-left:40rem;  
    } 
}